.app-container{
  .colour-display{
    border:2px solid #000;
    height:300px;
    margin-bottom:15px;
  }

  #colourPicture{
    width:100%;
    height:500px;
  }

  ul.colour-list{
    list-style: none;

    .colour-block{
      display:block;
      border:1px solid #000000;
      height:60px;
      cursor: pointer;
    }
  }
}
